.App {
  padding: 10px 10px;
}

.tg {
  border-collapse: collapse;
  table-layout: fixed;
}

.tg thead {
  background-color: #166eeb;
  display: block;
  width: auto;
}

.tg tbody {
  height: 380px;
  width: auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.tg td {
  padding: 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.tg th {
  padding: 10px 0px 10px 10px;
  color: white;
}

.tg th:nth-child(2) {
  padding-left: 39px;
}

.tg tr:hover {
  background-color: #ddd;
}
